* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app{
  background-image: url(./components/images/image1.jpg);
}

.img{
  display: flex;
  justify-content: center;
  max-height: 100vh;
  max-width: 80vw;
  text-align: center;
  border-radius: 20px;
  align-items: center;

}

.head-text{
  position: relative;
}

.text-on-image{
  float: left;
  position:absolute;
  right:100%;
  left:100%;
  bottom: 15%;
  color:aliceblue
}